@font-face {
  font-family: PoetsenOne;
  src: url(PoetsenOne-Regular.ttf);
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, San-serif;
  background-image: url(pexels-aleksejs-bergmanis-681335.jpg);
}
#header {
  width: 100%;
  height: 7%;
  color: #FFFFFF;
  background-color: rgba(142, 87, 141, 0.9);
  margin: 0px;
  padding-left: 10%;
}
#puzz-logo {
  font-family: PoetsenOne;
  font-size: 32px;
  margin: 0px;
  padding-right: 5%;
}
#core {
  height: 86%;
  width: 80%;
  padding: 0px;
  margin-left: 10%;
}
#core-menu {
  width: 20%;
  float: left;
}
#core-body {
  width: 80%;
  float: right;
}
#footer {
  background-color: #EEEEEE;
}
/* Dropdown Button */
.dropbtn {
  background-color: rgba(142, 87, 141);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(79, 54, 120);}
