@font-face {
  font-family: PoetsenOne;
  src: url(PoetsenOne-Regular.ttf);
}
body {
  padding: 0px;
  margin: 0px;
}
#header {
  width: 100%;
  height: 10%;
  font-family: PoetsenOne; 
  color: #FFFFFF;
  background-color: rgba(142, 87, 141, 0.9);
  margin: 0px;
  padding-left: 20%;
}
#core {
  
}
#core-menu {
  width: 20%;
  float: left;
}
#core-body {
  width: 80%;
  float: right;
}
#footer {
  background-color: #EEEEEE;
}
