@font-face {
  font-family: PoetsenOne;
  src: url(PoetsenOne-Regular.ttf);
}
#header {
  font-family: PoetsenOne; 
  background-color: rgba(142, 87, 141, 0.9);
}
#core {
  
}
#core-menu {
  width: 20%;
  float: left;
}
#core-body {
  width: 80%;
  float: right;
}
#footer {
  background-color: #EEEEEE;
}
